/* transfer-styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
}

#app-name {
    font-size: 24px;
    background-color: #4CAF50; /* Nouvelle couleur de fond pour le cadre */
    padding: 10px; /* Espace interne du cadre */
    border-radius: 5px; /* Coins arrondis du cadre */
}

#tabs a {
    color: black;
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
}

#transfer-content {
    text-align: center;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#table-header th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

table td, table th {
    border: 1px solid #ccc;
    padding: 10px;
}

#bandeau {
    background-color: #f5f5f5; /* Couleur du fond gris clair */
    padding: 5px 20px;
}

#bandeau-text {
    font-size: 16px;
    color: #666; /* Couleur du texte */
}

#transfer-form {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

#transfer-title {
    font-size: 20px;
    margin-bottom: 10px;
}

#transfer-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#connections {
    width: 40%;
    padding: 5px;
}

#amount {
    width: 30%;
    padding: 5px;
}

#pay-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
