<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Transfer - Pay My Buddy</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/transfer-styles.css}">
</head>
<body>
<div id="header">
  <div id="app-name">Pay My Buddy</div>
  <div id="tabs">
    <a href="#">Home</a>
    <a href="#">Transfert</a>
    <a href="#">Profile</a>
    <a href="#">Contact</a>
    <a href="#">Log Off</a>
  </div>
</div>
<div id="bandeau">
  <span id="bandeau-text">Home / Transfer</span>
</div>

<div id="add-connection-button">
  <button id="add-connection" type="button">Ajouter une connexion</button>
</div>

<div id="transfer-form">
  <h2 id="transfer-title">Effectuer un transfert</h2>
  <div id="transfer-inputs">
    <form th:action="@{/transfer}" method="post">
      <select id="connections" name="receiverId">
        <option th:each="connection : ${connections}" th:text="${connection.userFriendId.firstName}" th:value="${connection.userFriendId.id}"></option>
        <!-- Ajoutez les options ici à partir de votre base de données -->
      </select>
      <input type="text" id="amount" name="amount" placeholder="Montant (€)" pattern="[0-9]*" required>
      <button id="pay-button" type="submit">Pay</button>
    </form>
  </div>
</div>

<div id="transfer-content">
  <h2 id="transaction-title">Transactions</h2>
  <table>
    <tr id="table-header">
      <th>Connections</th>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    <!-- Ajoutez ici les données de transactions dans les lignes de tableau -->
      <tr th:each="transaction : ${transactionsPage.content}">
        <td th:text="${transaction.connexionsName}"></td>
        <td th:text="${transaction.description}"></td>
        <td th:text="${transaction.amount}"></td>
      </tr>
  </table>


  <div id="pagination">
    <span>Page <span th:text="${transactionsPage.number + 1}"></span></span>
    <ul>
      <li th:if="${transactionsPage.hasPrevious}">
        <a th:ref="@{'/transfer?page=' + ${transactionsPage.number - 1}}">Previous</a>
      </li>
      <li th:each="i : ${#numbers.sequence(0, transactionsPage.totalPages - 1)}">
        <a th:href="@{'/transfer?page=' + ${i}}"><span th:text="${i + 1}"></span></a>
      </li>
      <li th:if="${transactionsPage.hasNext}">
        <a th:href="@{'/transfer?page=' + ${transactionsPage.number + 1}}">Next</a>
      </li>
    </ul>
  </div>

</div>
</body>
</html>