<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Transfer - Pay My Buddy</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/transfer-styles.css}">
</head>
<body>
<div id="header">
  <div id="app-name">Pay My Buddy</div>
  <div id="tabs">
    <a href="#">Home</a>
    <a href="#">Transfert</a>
    <a href="#">Profile</a>
    <a href="#">Contact</a>
    <a href="#">Log Off</a>
  </div>
</div>
<div id="bandeau">
  <span id="bandeau-text">Home / Transfer</span>
</div>

<div id="add-connection-button">
  <button id="add-connection" type="button">Ajouter une connexion</button>
</div>

<div id="transfer-form">
  <h2 id="transfer-title">Effectuer un transfert</h2>
  <div id="transfer-inputs">
    <select id="connections" name="connections">
      <option value="connection1">Connection 1</option>
      <option value="connection2">Connection 2</option>
      <!-- Ajoutez les options ici à partir de votre base de données -->
    </select>
    <input type="text" id="amount" name="amount" placeholder="Montant (€)" pattern="[0-9]*" required>
    <button id="pay-button" type="button">Pay</button>
  </div>
</div>

<div id="transfer-content">
  <h2 id="transaction-title">Transactions</h2>
  <table>
    <tr id="table-header">
      <th>Connections</th>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    <!-- Ajoutez ici les données de transactions dans les lignes de tableau -->
  </table>
</div>
</body>
</html>